# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/
**/out/

# Build artifacts
dist/
**/dist/
build/
**/build/

# Environment files
.env
.env.*

# OS files
.DS_Store
**/.DS_Store

# Root assets
# backend/ (removed to include in main repo)
uploads/
data/
*.pem
*.vcf
*.ipynb

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
